MYSQL_DATABASE=your_database_name
MYSQL_ROOT_PASSWORD=your_strong_root_password
MYSQL_USER=your_app_user
MYSQL_PASSWORD=your_app_user_password
APP_ENV=production
APP_DEBUG=false

ACCOUNT_NAME=your_account_name
ACCOUNT_PASS=your_account_password

